@import "../../../common";

.common_songs_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.group_divider {
  width: 100%;
  border-top: 0.4rem solid #807d7d;
  border-radius: 1rem;
}

.tracker {
  height: 36px;
  display: flex;
  width: 45%;
  margin-top: 2rem;
}

.slider_help {
  font-size: 0.8rem;
}

.album_pic {
  height: 3rem;
  width: 3rem;
}

.album_pic_container {
  text-align: center;
}

.track_name {
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 600;
}

.artist_name {
  margin-bottom: 0;
  font-size: 0.8em;
}

.user_pic {
  float: left;
  width: 22px;
  height: 22px;
}

.user_name {
  margin-left: 20px;
  float: left;
}

.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play_icon {
  height: 1.2rem;
  width: 1.2rem;
}

.songs_users_divider {
  width: 100%;
  border-top: 0.1rem solid #807d7d;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.playlist_item {
  cursor: pointer;
}

@media (min-width: 768px) {
  .album_pic {
    height: 4.5rem;
    width: 4.5rem;
    padding: 0.25rem
  }

  .track_name {
    font-size: 1.3em;
  }

  .artist_name {
    font-size: 1em;
  }

  .play_icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .tracker {
    height: 36px;
    display: flex;
    width: 30%;
    margin-top: 2rem;
  }

  .user_pic {
    width: 28px;
    height: 28px;
  }
}
