@import "../common";

.lock {
  font-size: 0.8rem;
}

.creation_date {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.room_card {
  padding-left: 0;
  padding-right: 0;
}

.trash_icon {
  margin-top: 0.5rem;
  margin-bottom: 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .room_card {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}