.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_logo {
  height: 2.5rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20vh;
}

.header_block {
  width: 100%;
}

.home_block {
  width: 10%;
  margin-top: 0.6rem;
  margin-right: 0.25rem;
  float: right;
}

.home_icon {
  width: 1.6rem;
  height: 1.6rem;
}

.arrow_block {
  width: 10%;
  margin-top: 0.6rem;
  margin-right: 1rem;
  float: right;
  cursor: pointer;
}

.arrow_icon {
  width: 1.3rem;
  height: 1.3rem;
}

.main {
  padding: 0 0 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  width: 100%;
  height: 12vh;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 2em;
  margin-left: 0.3rem !important;
  margin-right: 0.3rem !important;
}

.logo_apple_music {
  height: 2em;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .header_logo {
    height: 4rem;
  }

  .header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex: 0;
    min-height: 25vh;
  }

  .header_block {
    width: 50%;
  }

  .home_block {
    width: 10%;
    margin-top: 1.1rem;
  }

  .home_icon {
    width: 2rem;
    height: 2rem;
  }

  .arrow_block {
    width: 10%;
    margin-top: 1.3rem;
    margin-right: 1.5rem;
  }

  .arrow_icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media (min-width: 992px) {
  .arrow_block {
    display: none;
  }
}