@import "../common";
@import "../Home.module";

.login_button {
  height: 3em;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.login_button_apple_music {
  background: #FB2944;
  border-color: #FB2944;
}

.logo_spotify {
  height: 2em;
  margin-bottom: 0.2rem;
}

.connect_spotify_text {
  padding-left: 0.5em;
  padding-top: 0.5rem;
}

.logo_apple {
  height: 1.2em;
  margin-bottom: 0.3rem;
}

.connect_apple_text {
  padding-left: 0.5em;
  padding-top: 0.5rem;
}